body {
  font-family: 'Montserrat', sans-serif !important;
  background: rgba(226, 226, 226, 1);
}



.fondo {
  background-image: url(./images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
  min-height: 100% !important;
  height: 55vw;
}


.card_login {
  border: 2px solid #c6c6c6 !important;
  border-radius: 1rem !important;
  margin-top: 6% !important;
  padding: 2%;
  background-color: rgba(175, 182, 1, 0.3);
  color: rgba(175, 182, 1, 0.3);
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


#registro_usuario {
  padding: 5% 25% !important;

}

#ingreso_cliente {
  padding: 1% 12% 0% !important;
}

#sidebarMenu {
  background-color: rgba(175, 182, 1, 0.3) !important;
  color: rgba(175, 182, 1, 0.3);
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.tabla_usuarios {
  padding: 8% 3%;
  background-color: rgba(175, 182, 1, 0.3);
  color: rgba(175, 182, 1, 0.3);
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  border-radius: 10px;
}

.texto_tablas {
  font-size: 1rem !important;
  line-height: 1 !important;
}

.card_registro {
  border: 2px solid #c6c6c6 !important;
  border-radius: 1rem !important;
  padding: 2% 5%;
  background-color: rgba(175, 182, 1, 0.3);
  color: rgba(175, 182, 1, 0.3);
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* FILTROS */

.dataTables_length {
  background-color: #fff;
  padding: .5%;
  border: 1px solid #c6c6c6;
  margin-bottom: 1rem;
}

label {
  font-weight: 700;
}


 
.texto {
  color: #212529;
  font-weight: 500 !important;
  font-size: 1.3rem !important;
}

.texto1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
}

.titulo {
  color: #fff;
  padding-top: 5% !important;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 5px -5px 7px #362410;

}

.titulo_general {
  font-weight: 900;
  font-size: 3rem;
  color: #fff !important;
  text-shadow: 5px -5px 7px #362410;
}


.contenido {
  padding: 2% 7% 0% !important;
}

.form-control {
  height: 2.5rem !important;
  border-radius: 10px !important;
}

.control_ingreso {
  height: 2.5rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
}

.form-select {
  height: 2.5rem !important;
  border-radius: 10px !important;
}

#admin_contrasenia {
  display: none;
}

/* botones */

.boton_agregar {
  font-weight: 700;
  border: 1px solid #212529;
}

.boton_general {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
  width: 10rem !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}



/* buscar */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: #fff;
  background-color: #212529;
  width: 300px;
}

.search-box input {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
}


.search-box button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}



.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #212529;
  font-weight: 700;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.icono_noti {
  color: #fff !important;
  font-size: 2rem !important;
  cursor: pointer;
}

.icono_usuario {
  color: #fff;
  font-size: 3.5rem;

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.alert {
  background-color: #ffc107;
  color: #222;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  animation: alert 10s linear forwards;
}

/* ALERTA CONTADOR */
@keyframes alert {
  0% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* ERROR404 */

#error404 {
  padding-top: 5rem;
}

.texto_404 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #212529;
}

.texto_pagina {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: #212529;
}

/* MODAL */

.titulo_modal {
  color: #dc3545;
  font-weight: 900;
}

.texto_modal {
  color: #dc3545;
  font-weight: 700;
}

.texto_dias {
  color: #dc3545;
  font-weight: 700;
  padding-top: 3%;
}

.modal-dialog {
  margin-top: 10%;
}

.modal-content {
  border-radius: 10px;
}


.contador_dias {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 5px solid #dc3545;
}

#contador {
  color: #dc3545;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
}

.boton_modal {
  font-weight: 500;
}


.dia {
  font-weight: 700;
  color: #dc3545;
}





/* MEDIAQUERIES */

@media (min-width: 768px) {
  .sidebar {
    top: 3rem;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}